# virtual environment
.venv/

# python cache
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# vscode
.vscode/

# dataset
data/

# model weights
*.pth
*.pt
*.ckpt
*.onnx


# logs
runs/
wandb/

# mac/windows
.DS_Store
Thumbs.db